.all-marcas .container-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-marcas .container-tarjetas .tarjeta {
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
}

.una-marca .nombre-marca {
    text-transform: uppercase;
    text-decoration: solid;
    background-color: rgb(49, 89, 223);
    width: 100%;
}

