<!DOCTYPE html>
<html>
    <!-- head -->
    <%- include('./partials/head') %>
    <body>
        <!-- header -->
        <%- include('./partials/header') %> 
        
        <main class="inventario-autos">

            <nav class="container-filtros">
                <div class="filter-modelos">
                    <div class="nombre-categoria"></div>
                    <ul class="items">

                    </ul>
                </div>
                <div class="filter-colores">
                    <div class="nombre-categoria"></div>
                    <ul class="items">

                    </ul>
                </div>
                <div class="filter-marcas">
                    <div class="nombre-categoria"></div>
                    <ul class="items">

                    </ul>
                </div>  
                <div class="filter-anios">
                    <div class="nombre-categoria"></div>
                    <ul class="items">
                        
                    </ul>
                </div>
            </nav>


        </main>
        
        <!-- footer -->
        <%- include('./partials/footer') %> 
            
    </body> 
</html>